In [ ]:
import requests
import pandas as pd
import numpy as np

In [ ]:
import os
from dotenv import load_dotenv

load_dotenv()
API_KEY = os.getenv("TMDB_API_KEY")
if not API_KEY:
    raise ValueError("TMDB_API_KEY not found. Add it to a .env file or your environment.")

BASE_URL = "https://api.themoviedb.org/3"

In [26]:
url = f"{BASE_URL}/discover/tv"
params = {
    "api_key": API_KEY,
    "with_networks": 213, #netflix network ID
    "language": "en-US",
    "page": 1
}

response = requests.get(url, params=params)
data = response.json()

In [27]:
data["total_pages"], data["total_results"]

(129, 2561)

In [30]:
import time
from tqdm import tqdm
import pandas as pd

all_results = []
max_pages = data["total_pages"]

for page in tqdm(range(1, max_pages + 1)):
    params["page"] = page
    r = requests.get(url, params=params)
    page_data = r.json()

    if "results" not in page_data:
        print(f"\nStopped at page {page}. Response was:", page_data)
        break

    all_results.extend(page_data["results"])
    time.sleep(0.25)

df_all = pd.DataFrame(all_results).drop_duplicates(subset=["id"]).reset_index(drop=True)
df_all.shape

100%|██████████| 129/129 [01:33<00:00,  1.37it/s]

(2020, 14)

In [36]:
df_all.to_csv("../data/netflix_tv_all.csv", index=False)

---

In [38]:
df = pd.read_csv("../data/netflix_tv_all.csv")
df.head()

,adult,backdrop_path,genre_ids,id,origin_country,original_language,original_name,overview,popularity,poster_path,first_air_date,name,vote_average,vote_count
0,False,/8zbAoryWbtH0DKdev8abFAjdufy.jpg,"[10765, 9648, 10759]",66732,['US'],en,Stranger Things,"When a young boy vanishes, a small town uncove...",1393.7498,/uOOtwVbSr4QDjAGIifLDwpb2Pdl.jpg,2016-07-15,Stranger Things,8.588,20079
1,False,/lr0h0OBj7QOEvkaX5g3JWoaKZsI.jpg,"[10759, 18]",238458,['KR'],ko,캐셔로,An ordinary man who inherits super strength di...,127.2497,/dm6RoaKgkGUxckamMDzsbqtLhFv.jpg,2025-12-26,Cashero,7.274,42
2,False,/n69QxkZ0RRc6PMNnxD9U0MZnLzl.jpg,[10764],4656,['US'],en,Raw,"A regularly scheduled, live, year-round progra...",120.4042,/pv5WNnLUo7mpT8k901Lo8UovrqI.jpg,1993-01-11,Raw,6.787,347
3,False,/ncftkNAjIz2PBbUMY7T0CHVJP8d.jpg,"[80, 10765]",63174,['US'],en,Lucifer,"Bored and unhappy as the Lord of Hell, Lucifer...",96.9141,/ekZobS8isE6mA53RAiGDG93hBxL.jpg,2016-01-25,Lucifer,8.437,15239
4,False,/foGkPxpw9h8zln81j63mix5B7m8.jpg,"[18, 10759]",71912,['US'],en,The Witcher,"Geralt of Rivia, a mutated monster-hunter for ...",88.9080,/AoGsDM02UVt0npBA8OvpDcZbaMi.jpg,2019-12-20,The Witcher,7.958,6470

In [40]:
print("DataFrame shape:", df.shape)

print("========== DataFrame Info ==========")
display(df.info())
print("========== DataFrame Description ==========")
display(df.describe())
print("========== Missing Values per Column ==========")
display(df.isna().sum())
print("========== DataFrame Columns ==========")
display(df.columns)

DataFrame shape: (2020, 14)
========== DataFrame Info ==========
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2020 entries, 0 to 2019
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   adult              2020 non-null   bool
 1   backdrop_path      1885 non-null   object
 2   genre_ids          2020 non-null   object
 3   id                 2020 non-null   int64
 4   origin_country     2020 non-null   object
 5   original_language  2020 non-null   object
 6   original_name      2020 non-null   object
 7   overview           1975 non-null   object
 8   popularity         2020 non-null   float64
 9   poster_path        1900 non-null   object
 10  first_air_date     1898 non-null   object
 11  name               2020 non-null   object
 12  vote_average       2020 non-null   float64
 13  vote_count         2020 non-null   int64
dtypes: bool(1), float64(2), int64(2), object(9)
memory usage: 207.3+ KB

None

========== DataFrame Description ==========

                  id   popularity  vote_average    vote_count
count    2020.000000  2020.000000   2020.000000   2020.000000
mean   166122.307921     5.821791      6.360776    228.400000
std     78512.363751    32.098094      2.191729   1035.580796
min       502.000000     0.014300      0.000000      0.000000
25%     94638.000000     1.328275      6.100000      8.000000
50%    137267.000000     2.798050      6.949500     30.000000
75%    236801.750000     5.242400      7.564750    111.000000
max    309476.000000  1393.749800     10.000000  20079.000000

========== Missing Values per Column ==========

adult                  0
backdrop_path        135
genre_ids              0
id                     0
origin_country         0
original_language      0
original_name          0
overview              45
popularity             0
poster_path          120
first_air_date       122
name                   0
vote_average           0
vote_count             0
dtype: int64

========== DataFrame Columns ==========

Index(['adult', 'backdrop_path', 'genre_ids', 'id', 'origin_country',
       'original_language', 'original_name', 'overview', 'popularity',
       'poster_path', 'first_air_date', 'name', 'vote_average', 'vote_count'],
      dtype='object')

In [45]:
url = f"{BASE_URL}/genre/tv/list"
params = {
    "api_key": API_KEY,
    "language": "en-US"
}

genre_data = requests.get(url, params=params).json()
genre_data

{'genres': [{'id': 10759, 'name': 'Action & Adventure'},
  {'id': 16, 'name': 'Animation'},
  {'id': 35, 'name': 'Comedy'},
  {'id': 80, 'name': 'Crime'},
  {'id': 99, 'name': 'Documentary'},
  {'id': 18, 'name': 'Drama'},
  {'id': 10751, 'name': 'Family'},
  {'id': 10762, 'name': 'Kids'},
  {'id': 9648, 'name': 'Mystery'},
  {'id': 10763, 'name': 'News'},
  {'id': 10764, 'name': 'Reality'},
  {'id': 10765, 'name': 'Sci-Fi & Fantasy'},
  {'id': 10766, 'name': 'Soap'},
  {'id': 10767, 'name': 'Talk'},
  {'id': 10768, 'name': 'War & Politics'},
  {'id': 37, 'name': 'Western'}]}

In [49]:
genre_map = {
    genre["id"]: genre["name"]
    for genre in genre_data["genres"]
}

genre_map

{10759: 'Action & Adventure',
 16: 'Animation',
 35: 'Comedy',
 80: 'Crime',
 99: 'Documentary',
 18: 'Drama',
 10751: 'Family',
 10762: 'Kids',
 9648: 'Mystery',
 10763: 'News',
 10764: 'Reality',
 10765: 'Sci-Fi & Fantasy',
 10766: 'Soap',
 10767: 'Talk',
 10768: 'War & Politics',
 37: 'Western'}

In [ ]:
#Convert strings back to lists (CSV cannot store lists.)
import ast

df["genre_ids"] = df["genre_ids"].apply(ast.literal_eval)

In [50]:
df["genres"] = df["genre_ids"].apply(
    lambda ids: [genre_map.get(i, "Unknown") for i in ids]
)
df[["name", "genre_ids", "genres"]].head()

,name,genre_ids,genres
0,Stranger Things,"[10765, 9648, 10759]","[Sci-Fi & Fantasy, Mystery, Action & Adventure]"
1,Cashero,"[10759, 18]","[Action & Adventure, Drama]"
2,Raw,[10764],[Reality]
3,Lucifer,"[80, 10765]","[Crime, Sci-Fi & Fantasy]"
4,The Witcher,"[18, 10759]","[Drama, Action & Adventure]"

In [17]:
df = df.drop(columns=["genre_ids"])

In [51]:
df['first_air_date'] = pd.to_datetime(df['first_air_date'], errors='coerce')
df['year'] = df['first_air_date'].dt.year
df['month'] = df['first_air_date'].dt.month
df['day'] = df['first_air_date'].dt.day
df[['name', 'first_air_date', 'year', 'month', 'day']].head()

              name first_air_date    year  month   day
0  Stranger Things     2016-07-15  2016.0    7.0  15.0
1          Cashero     2025-12-26  2025.0   12.0  26.0
2              Raw     1993-01-11  1993.0    1.0  11.0
3          Lucifer     2016-01-25  2016.0    1.0  25.0
4      The Witcher     2019-12-20  2019.0   12.0  20.0

In [53]:
df = df.drop_duplicates(subset=["id"]).reset_index(drop=True)
df.shape

(2020, 18)

In [55]:
df["first_air_date"].isna().sum()

np.int64(122)

In [56]:
df[df["first_air_date"].isna()][["id", "name"]].head()

          id                                   name
1006  259265  Something Very Bad Is Going to Happen
1045  295389                          Solo Leveling
1213  283609                            Super Subbu
1321  283304            Little House on the Prairie
1354  258165                           East of Eden

In [58]:
df["origin_country"].unique()

array(["['US']", "['KR']", "['SE']", "['GB']", "['IN']", "['DE']",
       "['GB', 'US']", "['ES']", "['JP']", "['AR']", "['TH']", "['MX']",
       "['FR']", "['NO']", "['IT']", "['CA']", "['AU']", "['CA', 'US']",
       "['US', 'GB', 'CN', 'FR']", "['DK']", "['CN']", "['TW']", "['TR']",
       "['BR']", "['CO']", "['JP', 'GB', 'US']", "['FR', 'US']",
       "['US', 'GB']", "['US', 'AR']", "['MX', 'US']", "['US', 'JP']",
       "['CA', 'GB']", "['NZ', 'AU']", "['PL']", "['BE', 'NL']",
       "['BE', 'US', 'GB']", "['ZA']", "['BE']", "['AR', 'MX']", "['MY']",
       "['US', 'IL']", "['JO']", "['IS']", "['IT', 'GB']", "['GR']",
       "['SA']", "['BE', 'FR', 'US']", "['EG']", "['PT']", "['BR', 'CA']",
       "['AT']", "['SG']", "['NL']", "['KW']", "['VN']", "['HK']",
       "['KR', 'JP']", "['BR', 'US']", "['ID']", '[]', "['CL']", "['RO']",
       "['IN', 'US']", "['KR', 'US']", "['IL', 'US']", "['AE']", "['PH']",
       "['LB']", "['TW', 'MY']", "['CA', 'IT']", "['NG']", "['BR', 'ES']",
       "['DE', 'MX']", "['AR', 'US']", "['SA', 'TN', 'MA', 'LB', 'EG']",
       "['PK']", "['NZ']", "['IL']", "['AT', 'DE']", "['IT', 'KR']",
       "['SN']", "['RU']", "['IN', 'SA']", "['AR', 'PE']", "['FI']",
       "['PE']", "['IE']", "['IO']", "['MX', 'TR']", "['KE']"],
      dtype=object)

In [59]:
df["origin_country"] = df["origin_country"].apply(
    lambda x: ast.literal_eval(x) if isinstance(x, str) else x
)
df["origin_country"].head()

0    [US]
1    [KR]
2    [US]
3    [US]
4    [US]
Name: origin_country, dtype: object

In [60]:
df["primary_country"] = df["origin_country"].apply(
    lambda x: x[0] if isinstance(x, list) and len(x) > 0 else None
)
df["primary_country"].head()

0    US
1    KR
2    US
3    US
4    US
Name: primary_country, dtype: object

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2020 entries, 0 to 2019
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   adult              2020 non-null   bool
 1   backdrop_path      1885 non-null   object
 2   genre_ids          2020 non-null   object
 3   id                 2020 non-null   int64
 4   origin_country     2020 non-null   object
 5   original_language  2020 non-null   object
 6   original_name      2020 non-null   object
 7   overview           1975 non-null   object
 8   popularity         2020 non-null   float64
 9   poster_path        1900 non-null   object
 10  first_air_date     1898 non-null   datetime64[ns]
 11  name               2020 non-null   object
 12  vote_average       2020 non-null   float64
 13  vote_count         2020 non-null   int64
 14  genres             2020 non-null   object
 15  year               1898 non-null   float64
 16  month              1898 non-null   float64
 17  day                1898 non-null   float64
 18  primary_country    2005 non-null   object
dtypes: bool(1), datetime64[ns](1), float64(5), int64(2), object(10)
memory usage: 286.2+ KB

In [64]:
df.isna().sum()

adult                  0
backdrop_path        135
genre_ids              0
id                     0
origin_country         0
original_language      0
original_name          0
overview              45
popularity             0
poster_path          120
first_air_date       122
name                   0
vote_average           0
vote_count             0
genres                 0
year                 122
month                122
day                  122
primary_country       15
dtype: int64

In [65]:
df_clean = df.copy()
df_clean.to_csv("../data/netflix_tv_clean.csv", index=False)